<app-button>Test Button</app-button>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-button (click)="patchForm()">Patch Form</app-button>
  <app-button (click)="onToggleInline()">Toggle Inline</app-button>
  <app-form-field
    [label]="'Input'"
    [required]="true"
    [control]="form.controls['input']"
    [isInline]="isInline"
    [patternError]="regexErrors.email"
  >
    <app-input formControlName="input" [placeholder]="'type me'"></app-input>
  </app-form-field>
  <app-form-field
    [label]="'Password'"
    [required]="true"
    [control]="form.controls['password']"
    [isInline]="isInline"
    [patternError]="regexErrors.password"
  >
    <app-password
      formControlName="password"
      [placeholder]="'Set passw'"
    ></app-password>
  </app-form-field>
  <app-form-field
    [label]="'Select'"
    [required]="true"
    [control]="form.controls['select']"
    [isInline]="isInline"
  >
    <app-select
      formControlName="select"
      [placeholder]="'Select item'"
      [items]="items"
    ></app-select>
  </app-form-field>
</form>
{{ form.value | json }}
